{% extends "../layouts/base.html.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/main.css">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block main %}
	<main class="flex flex-col gap-8 w-full ml-0 lg:w-5/6 lg:ml-[16.666%] xl:w-6/7 xl:ml-[14.258%] 2xl:w-7/8 2xl:ml-[12.5%] min-h-[calc(100vh-3.5rem)] bg-[#50693C]/50 backdrop-blur-xs px-8 md:px-16 lg:px-24 xl:px-32 py-8">
		<section>
			<div class="w-full flex items-center justify-center gap-2">
				<a href="{{ previousUrl }}" id="bouton-retour" class="w-20 bg-green-500 hover:bg-green-700 px-3 py-1 rounded flex items-center justify-center transition duration-300">
					<img src="/assets/images/annuler.png" alt="Retour page précédente" class="w-6 h-6">
				</a>
				<div class="w-full flex items-center justify-center">
					<h2 class="text-white text-xl md:text-2xl lg:text-4xl text-center bg-[#1B3C01]/60 backdrop-blur-2xl shadow-lg rounded-lg px-2 py-1">Identification des arbres</h2>
				</div>
			</div>
		</section>
		<section>
			<div class="flex flex-col 2xl:flex-row mx-auto p-6 bg-[#1B3C01]/60 backdrop-blur-2xl shadow-lg rounded-lg gap-6">
				<div class="w-full 2xl:w-1/2 order-2 2xl:order-1 bg-[#C3CEA3] space-y-6 shadow-lg rounded-lg p-4">
					<h3 class="text-lg text-[#1B3C01] font-medium">Identifiez facilement les arbres grâce à Pl@ntNet</h3>
					<p class="text-[#1B3C01]">Vous vous demandez quel est cet arbre que vous croisez en promenade ou dans votre jardin ?<br>
						Grâce à l'outil Pl@ntNet intégré à notre site, vous pouvez désormais identifier rapidement et simplement les arbres qui vous entourent.
					</p>
					<h3 class="text-lg text-[#1B3C01] font-medium">Comment ça fonctionne ?</h3>
					<p class="text-[#1B3C01]">Pl@ntNet est une plateforme scientifique qui utilise la reconnaissance visuelle pour identifier les plantes. Voici comment vous pouvez l'utiliser :<br>
						• Prenez une photo claire de l'arbre ou d'une partie spécifique (comme une feuille, une fleur ou un fruit).<br>
						• Téléchargez cette image via notre interface.<br>
						• En quelques secondes, Pl@ntNet vous indique les espèces probables et fournit des informations détaillées sur celles-ci.<br>
					</p>
					<h3 class="text-lg text-[#1B3C01] font-medium">Pourquoi utiliser cet outil ?</h3>
					<p class="text-[#1B3C01]">• Simplicité : Pas besoin d’être un expert en botanique, l’outil est conçu pour être accessible à tous.<br>
						• Rapidité : Obtenez des résultats instantanés pour satisfaire votre curiosité.<br>
						• Participation scientifique : Chaque identification contribue à enrichir une base de données mondiale sur la biodiversité.
					</p>
					<h3 class="text-lg text-[#1B3C01] font-medium">Explorez et apprenez</h3>
					<p class="text-[#1B3C01]">Que ce soit pour découvrir la nature autour de vous, enrichir vos connaissances ou simplement satisfaire votre curiosité, Pl@ntNet est là pour vous accompagner.<br>
						Identifiez, apprenez et participez à la préservation de notre patrimoine naturel, tout cela en quelques clics !
					</p>
				</div>
				<div class="w-full 2xl:w-1/2 order-1 2xl:order-2 flex flex-col bg-[#C3CEA3] shadow-lg rounded-lg p-4">
					<form action="/apiPlantNet" method="POST" enctype="multipart/form-data">
						<div class="mb-4">
							<label for="images" class="block text-lg font-medium text-[#1B3C01] mb-2">Télécharger des images (max 5) :</label>
							<input type="file" id="images" name="images" multiple accept="image/png, image/jpeg, image/jpg, image/webp" onchange="handleFileSelection(event)" class="bg-white w-full px-4 py-2 border border-green-300 rounded-md focus:ring-2 focus:ring-green-500 focus:outline-none">
							<p class="mt-1 text-sm text-[#1B3C01]">PNG, JPG, JPEG, WEBP jusqu'à 5Mo par images</p>
							<div id="file-preview-container" class="mt-2 space-y-2"></div>
						</div>
						<div class="mb-4">
							<label class="block text-lg font-medium text-[#1B3C01] mb-2">Sélectionnez les organes à analyser :</label>
							<div class="flex flex-wrap gap-2 text-[#1B3C01]">
								<label><input type="checkbox" name="organs" value="leaf" checked>
									Feuille 🌿</label>
								<label><input type="checkbox" name="organs" value="flower">
									Fleur 🌸</label>
								<label><input type="checkbox" name="organs" value="fruit">
									Fruit 🍎</label>
								<label><input type="checkbox" name="organs" value="bark">
									Écorce 🌳</label>
								<label><input type="checkbox" name="organs" value="habit">
									Port général 🌱</label>
								<label><input type="checkbox" name="organs" value="other">
									Autre ❓</label>
							</div>
						</div>
						<div class="flex justify-center">
							<button type="submit" class="cursor-pointer w-40 py-2 bg-green-600 text-white font-medium rounded-md shadow hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-green-400/75 transition duration-300 flex items-center justify-center">
								<img src="/assets/images/search.png" alt="Ajouter images PlnatNet" class="h-6">
							</button>
						</div>
					</form>
					<div>
						{% if data.results %}
							<h3 class="text-[#1B3C01] text-xl font-medium">Résultat de l'Identification</h3>
							{% for result in data.results %}
								<div class="bg-white shadow-md rounded-lg p-4 border border-green-500 mt-2">
									<div class="flex flex-col gap-2">
										<h2 class="text-xl font-semibold text-green-700">
											{{ result.species.scientificNameWithoutAuthor }}
										</h2>
										<p class="text-gray-600">
											<strong>Nom commun :</strong>
											{{ result.species.commonNames|join(', ') }}
										</p>
										<p class="text-gray-500">
											<strong>Score de confiance :</strong>
											<span class="text-green-600 font-bold">{{ (result.score * 100)|round }}%</span>
										</p>
										<div class="my-2">
											<a href="https://www.google.com/search?q={{ result.species.scientificNameWithoutAuthor|url_encode }}" target="_blank" class="inline-block bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-700">
												En savoir plus 🌱
											</a>
										</div>
									</div>
									{% if result.images is not empty %}
										<div class="flex flex-col justify-center gap-1">
											{% for images in result.images|slice(0, 3) %}
												<img src="{{ images.url.m }}" alt="Image de la plante" class="w-full h-full">
											{% endfor %}
										</div>
									{% else %}
										<p>Aucune image disponible</p>
									{% endif %}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
{% block script %}
	<script src="/assets/js/sidebar.js"></script>
	<script src="/assets/js/modal.js"></script>
	<script src="/assets/js/main.js"></script>
{% endblock %}
